.header {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__title {
  margin: 0;
  font-family: "Solway", serif;
  font-size: 56px;
  font-weight: 800;
  font-style: bold;
  line-height: 1.22;
}
