.search {
  margin: 30px auto 60px;
  max-width: 1000px;
}

.search__form {
  display: flex;
  align-items: center;
  max-width: 800px;
  flex-grow: 1;
  gap: 7px;
  line-height: 1.22;
  margin: 0 auto 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 3px;
}

.search__form-bar {
  width: 100%;
  border: none;
  background: transparent;
  font-family: 'Solway', serif;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
}

.search__form-button {
  width: 20px;
  height: 20px;
  background-image: url("../images/iconmonstr-search-thin.svg");
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
