.search {
  margin: 30px auto 60px;
  max-width: 1000px;
}

.search__form {
  display: flex;
  align-items: center;
  max-width: 800px;
  flex-grow: 1;
  gap: 7px;
  line-height: 1.22;
  margin: 0 auto 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 3px;
}

.search__form-bar {
  width: 100%;
  border: none;
  background: transparent;
}

.search__form-button {
  width: 20px;
  height: 20px;
  background-image: url("../images/iconmonstr-search-thin.svg");
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search__params {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.search__params-item {
  max-width: 300px;
  width: 85%;
  background: transparent;
  display: flex;
  justify-content: center;
  border: 2px #ccc solid;
  border-radius: 10px;
  transition: transform 0.5s, background-color 0.4s;
}

.search__params-item:hover {
  cursor: pointer;
  transform: scale(1.12);
  transition: transform 0.5s, background-color 0.4s;
  background-color: #ccc;
}

.search__params-item_active {
  background-color: #ccc;
  transition: background-color 0.3s transfrom 0.5s;
}
